* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./images/background.png');
  background-size: cover;
  color: white;
  font-family: Arial , Helvetica , sans-serif;
}

.header {
  display: flex;
  font-size: 2.1rem;
  justify-content: center;
  padding: 15px;
}

.title-container {
  align-items: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.title {
  align-items: center;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  font-size: 2.8rem;
  justify-content: center;
  padding: 20px;
  transition-delay: 1s;
  transition-duration: 2s;
  transition-property: background-color;
  width: 80%;
}

.title:hover, .solar-system:hover {
  background-color: lightgreen;
  color: red;
  font-size: 4rem;
  opacity: 0.9;
}

.container-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 20px;
  width: 80%;
}

.planet-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.planet-card p {
  font-size: 2rem;
}

.planet-card img {
  width: 250px;
}

.container-mission-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mission-card {
  border-radius: 20px;
  box-shadow: 0.2px 0.2px 1px 1px lightblue;
  font-size: 1.4rem;
  margin: 10px;
  width: 25%;
}

.mission-card:hover {
  background-color: white;
  color: black;
  font-size: 1.8rem;
  transform: translateY(-10px);
  transition: all 0.6s;
}

.mission-card p {
  margin: 10px;
}

.mission-name {
  color: orange;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 10px;
}

.mission-card hr {
  margin-bottom: 15px;
  width: 100%;
}

@keyframes loading {

  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes big {

  from {
    display: -webkit-transform - scale(1);
    transform: scale(1);
  }

  to {display: -webkit-transform - scale(1.8);
    transform: scale(1.8);
  }

}

.planet:hover {
  animation: loading 4s ease-out infinite;
  cursor: pointer;
}

.planet-name:hover {
  animation: big 2s linear infinite;
}
